<li class="car-row">
  <div class="jumbotron">
    <h2>
      <%= link_to "#{car.custom_name}", car, class: "car-link" %>
    </h2>
    <h3>
      <%= link_to "#{car.manufacturer} #{car.model} #{car.trim}", car, class: "car-link" %>
    </h3>
  </div>
</li>