<% provide(:title, "My cars") %>
<% provide(:adding_button_text, "Add new car") %>
<ul class="list-unstyled">
  <button class="button">
    <%= link_to yield(:adding_button_text), new_car_path %>
  </button>
  <%= render @cars %>
</ul>
